#scroll-animation{
    background-color: #efedd6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  #scroll-animation h1 {
    margin: 10px;
    color:black;
  }
  .scrollbox {
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
  }
  .scrollbox:nth-of-type(even) {
    transform: translateX(-400%);
  }
  .scrollbox.show {
    transform: translateX(0);
  }
  .scrollbox h2 {
    font-size: 45px;
  }