@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Muli', sans-serif;
}
h1{
  text-align: center;
  padding:1rem;
  font-size: 30px;
  color: #fff;
}
.navbar{
  background-color:#120d63;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  padding:0 5rem;

}
.nav-item{
  padding: 0 20px;
}
.nav-link{
  font-size:1.5rem;
  color:whitesmoke !important;
}
.navbar-brand {
  font-size: 1.7rem;
}
@media (max-width: 680px) {
  .navbar{
    padding:0;
  }
}
